.edit-button {
  background-image: url('../../images/editButton.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 24px;
  height: 24px;
  margin-left: 18px;
}

.edit-button:hover {
  opacity: 0.6;
}
